<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <!--p>{{ site.description | default: site.github.project_tagline }}</p-->
        <a href="https://acquisitionsinstitute.org/about/">About Us</a>
        <a href="https://acquisitionsinstitute.org/faqs/">FAQ</a>
        <a href="https://acquisitionsinstitute.org/contact/">Contact Us</a>
        <a href="https://acquisitionsinstitute.org/call-for-proposals/">Call for Proposals</a>
        <a href="https://acquisitionsinstitute.org/sponsors/">Sponsorship Opportunities</a>
        <a href="https://acquisitionsinstitute.org/acquisitions-institute-code-of-conduct/">Acquisitions Institute Code of Conduct</a>
        <a href="https://acqinst.slack.com/">Institute Slack Channel (attendees only)</a>
        <a href="https://timberlinelodge.com/site/assets/files/15345/hotel_map.pdf">Timberline Lodge Map</a>
        <a href="https://acquisitionsinstitute.org/contact/">Contact Us</a>


      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <!--p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p-->
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
