<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Blue logo featuring a tree growing out of a book, inside a triangle." />
        {% endif %}

        <!--p>{{ site.description | default: site.github.project_tagline }}</p-->
        <a href="about.html">About Us</a><br/>
        <a href="https://acquisitionsinstitute.org/faqs/">FAQ</a><br/>
        <a href="https://acquisitionsinstitute.org/call-for-proposals/">Call for Proposals</a><br/>
        <a href="https://acquisitionsinstitute.org/sponsors/">Sponsorship Opportunities</a><br/>
        <a href="https://acquisitionsinstitute.org/acquisitions-institute-code-of-conduct/">Acquisitions Institute Code of Conduct</a><br/>
        <a href="https://acqinst.slack.com/">Institute Slack Channel (attendees only)</a><br/>
        <a href="https://timberlinelodge.com/site/assets/files/15345/hotel_map.pdf">Timberline Lodge Map</a><br/>
        <a href="https://acquisitionsinstitute.org/contact/">Contact Us</a><br/>
        <a href="https://acquisitionsinstitute.org/about/2026-program/">Previous Institutes</a>

<aside id="mailchimp-signup"><strong class="widget-title">Join our mailing list</strong>
<script>(function() {
	window.mailchimp = window.mailchimp || {
		listeners: [],
		forms: {
			on: function(evt, cb) {
				window.mailchimp.listeners.push(
					{
						event   : evt,
						callback: cb
					}
				);
			}
		}
	}
})();
</script>
<!-- Mailchimp Signup -->
<form id="mailchimp-form-1" class="mailchimp-form" method="post" data-id="35" data-name="Email SignUp" ><div class="mailchimp-form-fields">    <label>Email address
    <input aria-label="Enter your email address and click enter to Submit." type="email" name="EMAIL" required="">
    <input aria-label="Click the button to submit the email address." type="submit" value="Sign up">
      </label>
</div>
  <label style="display: none !important;">Leave this field empty if you&#039;re human: <input type="text" name="_mailchimp_honeypot" value="" tabindex="-1" autocomplete="off" /></label><input type="hidden" name="_mailchimp_timestamp" value="1790266422" /><input type="hidden" name="_mailchimp_form_id" value="35" /><input type="hidden" name="_mailchimp_form_element_id" value="mailchimp-form-1" /><div class="mailchimp-response"></div>
</form><!-- / Mailchimp Signup -->
</aside>
      </header>
      <section>
      {{ content }}
      </section>
      <footer>
        {% if site.github.is_project_page %}
        <!--p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p-->
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
